.index-tit{
    font-size: 120px;
    color: black;
}
.container img{
    cursor: pointer;
}
.discovery_wrap{
    padding: 25px 0  30px 0;
    background-color: #fcfcfc;

}
.why_tit{
    font-size:40px ;
    line-height: 30px;
    font-family: "ITC Caslon",Georgia,serif;
}
.main_contene_W{
    background: white;


}
 .img_mar{
     margin-top: 40px;
     display: inline-block;
 }
nav .menu_detail .container a.item{
     font-family: Nobel,sans-serif;
     color: black;
 }